body {
    @apply text-black overflow-x-hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

* {
    -webkit-tap-highlight-color: transparent;
}

input:required {
    @apply shadow-none;
}

::selection {
    @apply bg-gray-800 text-white;
}

::-webkit-scrollbar {
    @apply w-2;
}

::-webkit-scrollbar-button {
    @apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-800;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-800;
}

::-webkit-scrollbar-track {
    @apply bg-gray-100;
}

::-webkit-scrollbar-track-piece {
    @apply bg-gray-100;
}

::-webkit-scrollbar-corner {
    @apply bg-gray-500;
}

::-webkit-resizer {
    @apply bg-gray-100;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

.group:hover .group-hover\:block {
    display: block !important;
}