$baseColor: #6c63ff;
$borderRadius: 10px;
$imageBig: 100px;
$imageSmall: 60px;
$padding: 20px;


.table-items {
    img {
        @apply rounded object-cover mx-0;
        height: $imageSmall;
        width: $imageSmall;
    }
}

table {
    @apply w-full;

    td,
    th {
        @apply text-gray-600;
        padding: $padding;
    }

    td {
        @apply text-center align-middle;
    }

    th {
        @apply text-black text-purple-second border-0;
    }

    tr {
        border: 1px solid #e8e8e8;

        &:nth-child(2n) {
            @apply bg-white;
        }

        &:first-child {
            background: #FAFBFC;
        }

        &:hover:not(:first-child) {
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 1400px) {

    table,
    tr,
    td {
        @apply block;
    }

    td {
        &:not(:first-child) {
            @apply text-left relative;
            margin-left: 20px;
            padding: 4px 20px 4px 170px;

            &:before {
                @apply text-black block absolute;
                content: '';
                left: 0;
            }
        }
    }

    td.product {
        &:nth-child(1):before {
            content: '';
        }

        &:nth-child(2):before {
            content: 'Nazwa:';
        }

        &:nth-child(3):before {
            content: 'Cena:';
        }

        &:nth-child(4):before {
            content: 'Aktywne:';
        }

        &:nth-child(5):before {
            content: 'Premium:';
        }

        &:nth-child(6):before {
            content: 'Data dodania:';
        }

        &:nth-child(7):before {
            content: 'Akcje:';
        }
    }

    td.offer {
        &:nth-child(1):before {
            content: '';
        }

        &:nth-child(2):before {
            content: 'Nazwa:';
        }

        &:nth-child(3):before {
            content: 'Cena:';
        }

        &:nth-child(4):before {
            content: 'Od:';
        }

        &:nth-child(5):before {
            content: 'Do:';
        }

        &:nth-child(6):before {
            content: 'Zaakceptowano dnia:';
        }

        &:nth-child(7):before {
            content: 'Odrzucono dnia:';
        }
    }

    td.payment {
        &:nth-child(1):before {
            content: 'Nr transakcji:';
        }

        &:nth-child(2):before {
            content: 'Data:';
        }

        &:nth-child(3):before {
            content: 'Ilość punktów:';
        }

        &:nth-child(4):before {
            content: 'Status:';
        }
    }

    tr {
        @apply relative;
        padding: $padding 0;

        &:first-child {
            @apply hidden;
        }
    }
}

@media screen and (max-width: 500px) {
    .header {
        @apply p-0 bg-transparent;
        color: lighten($baseColor, 60%);
        font-size: 2em;
        font-weight: 700;
        text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    }

    img {
        border: 3px solid;
        border-color: lighten($baseColor, 50%);
        height: $imageBig;
        margin: 0.5rem 0;
        width: $imageBig;
    }

    td {
        &:first-child {
            @apply relative w-full;
            background-color: lighten($baseColor, 45%);
            border-bottom: 1px solid lighten($baseColor, 30%);
            border-radius: $borderRadius $borderRadius 0 0;
            top: 0;
            transform: translateY(0);
        }

        &:not(:first-child) {
            @apply m-0 w-full;
            padding: 5px 1em;

            &:before {
                font-size: .8em;
                padding-top: 0.3em;
                position: relative;
            }
        }

        &:nth-child(7):before {
            content: ':';
        }

        &:last-child {
            padding-bottom: 1rem !important;
        }
    }

    tr {
        @apply p-0;
        background-color: white !important;
        border: 1px solid lighten($baseColor, 20%);
        border-radius: $borderRadius;
        box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
        margin: 0.5rem 0;
    }

    .table-items {
        @apply border-none overflow-visible;
        box-shadow: none;
    }
}
