.promo {
    @apply bg-white border-b py-12;
    &__item1 {
        @apply flex flex-wrap;
        &__desc {
            @apply w-5/6 p-6 flex flex-col justify-center mt-12;
            @media (min-width: 640px) {
                @apply w-1/2;
            }
            h4 {
                @apply text-xl text-gray-700 mb-3 relative leading-snug;
                &::before {
                    @apply absolute bg-purple-second;
                    content: "";
                    top: 0;
                    left: -20px;
                    width: 8px;
                    height: 100%;
                }
            }
        }
        &__img {
            @apply w-full p-6 overflow-hidden;
            @media (min-width: 640px) {
                @apply w-1/2;
            }
            img {
                @apply w-full mx-auto;
                height: 320px;
            }
        }
    }
    &__item2 {
        @apply flex flex-wrap flex-col-reverse;
        @media (min-width: 640px) {
            @apply flex-row;
        }
        &__img {
            @apply w-full p-6 mt-6;
            @media (min-width: 640px) {
                @apply w-1/2;
            }
            img {
                @apply w-5/6 mx-auto;
                height: 320px;
            }
        }
        &__desc {
            @apply w-full p-6 mt-12 flex flex-col justify-center;
            @media (min-width: 640px) {
                @apply w-1/2;
            }
            h4 {
                @apply text-xl text-gray-700 mb-3 relative leading-snug mb-6;
                &::before {
                    @apply absolute bg-purple-second;
                    content: "";
                    top: 0;
                    left: -20px;
                    width: 8px;
                    height: 100%;
                }
            }
        }
    }
}