.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        'main';
    min-height: 100vh;
    padding-top: 70px;
}

.sidenav {
    @apply flex flex-col h-full fixed bg-white border border-gray-200 overflow-y-auto z-10;
    grid-area: sidenav;
    width: 240px;
    transform: translateX(-245px);
    box-shadow: 0 5px 15px 0 hsla(0, 2%, 49%, .14);
    transition: all .6s ease-in-out;

    &.active {
        transform: translateX(0);
    }

    .sidenav-list {
        @apply p-6 list-none mt-12;

        &__item {
            @apply block p-0 my-1;

            a {
                @apply flex items-center p-2 justify-start text-gray-500 text-sm no-underline rounded;
                transition: all .2s ease;

                &:hover {
                    @apply text-gray-800 bg-gray-200;

                    svg {

                        path,
                        circle {
                            fill: #2d3748;
                        }
                    }
                }

                svg {
                    @apply block mr-3;

                    path,
                    circle {
                        fill: #a0aec0;
                        transition: fill .2s ease;
                    }
                }

                &.active {
                    @apply text-purple-second;

                    svg {

                        path,
                        circle {
                            fill: #6C63FF;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .grid-container {
        padding-top: 60px;
        grid-template-columns: 240px 1fr;
        grid-template-areas:
            "sidenav main"
            "sidenav main"
            "sidenav main";
    }

    .sidenav {
        @apply fixed;
        transform: translateX(0);
    }

    .sidenav__close-icon {
        @apply invisible;
    }
}
