.payment {
    &__options {
        @apply flex flex-col justify-center items-center my-3;
    }

    &__items {
        @apply flex flex-wrap justify-center items-center my-6;
    }

    &__item {
        @apply flex flex-col justify-center items-center;
    }

    &__warning {
        @apply text-sm mb-6;
    }

    &__history {
        @apply mt-6 mb-3 text-xl;
    }

    &__empty-list {
        @apply flex justify-center items-center bg-purple-main w-1/2 py-3 rounded-lg;
    }
}

.loader {
    @apply flex flex-col justify-center items-center;

    &__icon {
        @apply h-32 w-32;
        animation: pulse 1.8s linear infinite both;
    }

    .loading:after {
        @apply text-xl mt-6;
        content: ".";
        animation: loading 1.2s ease alternate infinite;
    }
}

.payment-finish {
    @apply flex flex-col justify-center items-center w-full text-center;

    .success,
    .error {
        @apply flex justify-center bg-gray-main;
        border-radius: 150px;
        height: 150px;
        width: 150px;
        i {
            font-size: 60px;
            line-height: 150px;
            margin-left: -15px;
        }
        &__h1 {
            @apply mt-10 mb-3 text-4xl;
        }
        &__p {
            @apply text-gray-text;
        }
    }
    
    .success {
        i {
            @apply text-green-main;
        }
        &__h1 {
            @apply text-green-main;
        }
    }

    .error {
        i {
            @apply text-red-500;
        }
        &__h1 {
            @apply text-red-500;
        }
    }
}

@keyframes loading {
    60% {
        text-shadow: 0.3em 0 0 #000;
    }

    100% {
        text-shadow: 0.3em 0 0 #000, 0.6em 0 0 #000;
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.4);
    }

    50% {
        transform: scale(0.6);
    }

    100% {
        transform: scale(0.4);
    }
}
